<!DOCTYPE html>
<html lang="en">

<head>
  <header>
    <title>Nanyang Healthcare - Appointment</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Nanyang Healthcare - Appointment</title>

  </header>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="icon" href="https://i.ibb.co/jfxPtYP/Logo-06-600-x-600-px.png">
</head>

<body>
<!--------------- Dropdown Content  ------------------------>
<ul id="dropdown1" class="dropdown-content">    

</ul>
<!--------------- Navigation bar  ------------------------>
<nav class="light-blue lighten-1 navBar" role="navigation">    
       
</nav>
<!--------------- Page Content  ------------------------>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text" style="font-family: 'Caveat', cursive;">Book An Appointment</h1>
      <div class="row center">
        <h5 class="header col s12 light">Welcome to the Nanyang Health Appointment System. You can book, change or
          cancel your medical appointment with ease.</h5>
      </div>
      <div class="row center">
        <a href="/addBooking" id="download-button" class="btn-large waves-effect waves-light orange">Book Now</a>
        <a href="/viewBooking" id="download-button" class="btn-large waves-effect waves-light orange">View Bookings</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">card_membership</i></h2>
            <h5 class="center">Change or Cancel Your Appointment Online</h5>

            <p class="light">Current patients may change or cancel their existing appointments directly with our online
              system.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">report</i></h2>
            <h5 class="center">Terms &amp; Conditions</h5>

            <p class="light">Terms and conditions for online appointments:
              Strictly for non-emergency and non-urgent cases. For medical emergency, please call 995, or visit the
              nearest emergency department.
              Subject to availability of slots
              Booking valid only when you receive an acknowledgement that your appointment has been changed
              You have sufficient supply of medicine till your next appointment date.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Service Availability</h5>

            <p class="light">This service is for all Specialist Outpatients Clinics (SOC) appointments</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>


  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">This website aims to make it better and easier for multiple users dealing
            with the Covid-19. This web application aims to reduce social gathering and physical contact by making it
            through online process.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="https://pandarohit05.wixsite.com/website"
          target="_blank">Rohit</a> and Jasmine
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>