<!DOCTYPE html>
<html lang="en">

<head>
  <header>
    <title>Nanyang Healthcare - View Covid Data</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Nanyang Healthcare - View Covid-19 Data</title>

  </header>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="icon" href="https://i.ibb.co/jfxPtYP/Logo-06-600-x-600-px.png">
</head>

<body>
  <!--------------- Dropdown Content  ------------------------>
  <ul id="dropdown1" class="dropdown-content">

  </ul>
  <!--------------- Navigation bar  ------------------------>
  <nav class="light-blue lighten-1 navBar" role="navigation">

  </nav>
  <!--------------- Page Content  ------------------------>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header orange-text">Covid-19 Stats</h1>

      <div class="input-field col s6">
        <h6 class="orange-text">COVID-19 case numbers by age</h6>
        <iframe width="600" height="400"
          src="https://data.gov.sg/dataset/covid-19-case-numbers/resource/6c14814b-09b7-408e-80c4-db3d393c7c15/view/f2df5f18-cbcf-4eea-b15e-f80661980b0f"
          frameBorder="0"> </iframe>

          <h6 class="orange-text">PCR Positivity Test Rate</h6>
        <iframe width="600" height="400" src="https://data.gov.sg/dataset/covid-19-case-numbers/resource/f3e28351-c8f1-4f9c-80e6-a118ee3843a5/view/1b59d6a2-360e-460c-b367-b5d0bd867982" frameBorder="0"> </iframe>

        <h6 class="orange-text">Infection Rate</h6>
        <iframe width="600" height="400" src="https://data.gov.sg/dataset/covid-19-case-numbers/resource/99334c54-479f-472d-a6f5-fe38d2f9b1aa/view/c5b1cfad-f0c8-43e8-9bce-ea541923e9e7" frameBorder="0"> </iframe>

      </div><br>
      <div class="input-field col s6">
        <h6 class="orange-text">Patients Requiring Oxygen Supplementation by Age Groups</h6>
        <iframe width="600" height="400" src="https://data.gov.sg/dataset/covid-19-case-numbers/resource/9de30d8d-3c0d-48ab-8c1b-4a7dc03d687a/view/d0f19f18-a405-46c0-af74-33550ff362d0" frameBorder="0"> </iframe>
          <h6 class="orange-text">Patients In ICU</h6>
          <iframe width="600" height="400" src="https://data.gov.sg/dataset/covid-19-case-numbers/resource/9de30d8d-3c0d-48ab-8c1b-4a7dc03d687a/view/8ec5e52c-fae7-45ab-a991-f62e8678e6b5" frameBorder="0"> </iframe>
      </div><br>
        
      <section id="data" class="centerNew">
      </section>
    </div>
  </div>
  </div>



  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">This website aims to make it better and easier for multiple users dealing
            with the Covid-19. This web application aims to reduce social gathering and physical contact by making it
            through online process.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="https://pandarohit05.wixsite.com/website"
          target="_blank">Rohit</a> and Jasmine
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/viewData.js"></script>
</body>

</html>