<!DOCTYPE html>
<html lang="en">

<head>
    <header>
        <title>Edit User</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
        <title>Edit User</title>

    </header>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="icon" href="https://i.ibb.co/jfxPtYP/Logo-06-600-x-600-px.png">
</head>

<body>
    <!--------------- Dropdown Content  ------------------------>
    <ul id="dropdown1" class="dropdown-content">

    </ul>
    <!--------------- Navigation bar  ------------------------>
    <nav class="light-blue lighten-1 navBar" role="navigation">

    </nav>
    <!--------------- Page Content  ------------------------>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Edit User Form</h1>
            <section>
                <form onsubmit="return editUserRole()">
                    <h3 class="header center orange-text">User's Particulars</h3>

                    <!-- Name -->
                    <div class="row">
                        <div class="input-field col s6">
                            <input disabled name="name" id="name" type="text" class="validate" required>
                            <label for="name"></label>
                        </div>

                        <!-- Pasword -->
                        <div class="row">
                            <div class="input-field col s6">
                                <input disabled name="password" id="password" type="password" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                            <!-- Email -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input disabled name="email" id="email" type="email" class="validate" required>
                                    <label for="email"></label>

                                </div>
                            </div>
                        </div>

                        <!-- role -->
                        <div class="row">
                            <div class="input-field col s12">
                                <select class="browser-default" name="role" id="role">
                                    <option value="role" disabled selected>Choose the role</option>
                                    <option value="User">User</option>
                                    <option value="Staff">Staff</option>
                                    <option value="Admin">Admin</option>
                                </select><br>
                            </div>
                        </div>
                    </div>

                    <div class="row center">
                        <button class="btn waves-effect waves-light" type="submit">Save Changes
                            <i class="material-icons right">send</i>

                            <button class="btn waves-effect waves-light" id="deleteUserBtn">Delete User
                                <i class="material-icons right">delete_forever</i>
                            </button>
                    </div>
                </form>
        </div>
        </section>
    </div>
    </div>
    </div>


    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">This website aims to make it better and easier for multiple
                        users dealing with the Covid-19. This web application aims to reduce social gathering and
                        physical contact by making it through online process.</p>


                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="https://pandarohit05.wixsite.com/website"
                    target="_blank">Rohit</a> and Jasmine
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/editUserRole.js"></script>

</body>

</html>